body {
    background-color: #25739B;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* intro */

#first {
    text-align: center;
    margin-top: calc(50% - 370px);
    font-size: 50px;
}

.intro {
    text-align: center;
    margin-top: calc(50% - 370px);
    font-size: 50px;
    display: none;
}

#enter {
    text-align: center;
    margin-top: 180px;
    font-size: 30px;
    color: #B3B7B6;
}

.active {

}

.corner {
    color: #B3B7B6;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.corner:hover {
    color: white;
    transition: 1s;
}

/* main view */

.container {
    background-color: #50AD8E;
    padding: 100px 50px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    width: 300px;
    float: left;
    cursor: pointer;
    height: 40px;
}

#enter-main {
    text-align: center;
    font-size: 30px;
    color: #B3B7B6;
}

#title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
}

/*#about {
    float: right;
    position: relative;
    top: -70px;
    right: 15px;
    font-weight: lighter;
}*/

#main-container {
    width: 100%;
    height: 100%;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subtitles {
    background-color: #1E4A3B;
    transition: 2s;
}

.shift {
    transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transition: 2s;
}


.caption {
    position: relative;
    top: 30px;
    display: none; 
    font-size: 15px;
    float: left;
    text-align: left;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 5px;
}

/* modal container */
.modal-container {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    display: none;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-box {
    background-color: #1E4A3B;
    opacity: 0.9;
    width: 900px;
    position: absolute;
    z-index: 100;
    top: 0px;
    height: 100%;
    left: calc(50% - 450px);
    overflow: scroll;
}

.modal-header {
    text-align: center;
    font-size: 40px;
    margin: 30px;
    padding-left: 32px;
}

.modal-option {
    background-color: white;
    width: 700px;
    height: 400px;
    margin-left: calc(50% - 356px);
    border-radius: 30px;
    margin-bottom: 120px;
}

.modal-title {
    color: black;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.close {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    width: 50px;
}

.modal-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}

.modal-rectangle {
    position: absolute;
    background-color: white;
    width: 700px;
    height: 20px;
}